# Pour le TOKEN_KEY on utilisera une chaîne de caractères encodé en base 64 pour une sécurité renforcée

TOKEN_KEY = token_value

# Ici on renseigne le mot de passe de la base de donnée utilisée sur mongodb

MONGODB_PW = pw_value